.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  max-height: 400px;
}

.fighter-preview___name {
  margin: 10px 0 0;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
}

.fighter-preview__info {
  width: 100%;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  font-family: 'Arial';
}

.fighter-preview__info-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #947423;
  color: white;
}

.fighter-preview__info-item:not(:first-child) {
  margin-top: 10px;
}

.fighter-preview___info-item-name {
  text-transform: capitalize;
}
